<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="TelegramBot.Properties.Settings.TelegramBotDBConnectionString"
            connectionString="Data Source=DESKTOP-UH6GJ5M\FIRSTDB;Initial Catalog=TelegramBotDB;Persist Security Info=True;User ID=sa;Password=7954;Pooling=False"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>